CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
build*
extra/testrunner
clever
test.txt
update.sh
*.tmp
*.dSYM
*~
*.d
*.o
*.so
*.dll
*.a
*.exe
gmon.out
interpreter/location.hh
interpreter/parser.cc
interpreter/parser.hh
interpreter/position.hh
interpreter/scanner.cc
interpreter/stack.hh
testrunner
