CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
build*
extra/testrunner
*.dSYM
clever
test.txt
*.tmp
update.sh
*~
*.d
*.o
*.so
*.dll
interpreter/location.hh
interpreter/parser.cc
interpreter/parser.hh
interpreter/position.hh
interpreter/scanner.cc
interpreter/stack.hh
modules/std/ffi/libmodules_std_ffi.a
modules/std/file/libmodules_std_file.a
modules/std/io/libmodules_std_io.a
modules/std/libmodules_std.a
modules/std/math/libmodules_std_math.a
modules/std/net/libmodules_std_net.a
modules/std/os/libmodules_std_os.a
modules/std/reflection/libmodules_std_reflection.a
modules/std/regex/libmodules_std_regex.a
testrunner
